---
export interface Props {
  depend: string | number | null;
  bold?: boolean
}

const { depend , bold} = Astro.props;
---

{
  depend && (
    <span class=`text-[#838383] ${bold ? 'font-bold' : ''}`>
      <slot />
    </span>
  )
}
