---
import Layout from '@/layouts/Layout.astro';
import Input from '@/components/UI/Input.astro';
import { regions, services } from '@/constants/form';
import 'intl-tel-input/build/css/intlTelInput.css';
import LayoutRecatcha from '@/layouts/LayoutRecatcha.astro';
import Button from '../components/UI/Button.astro';
---

<script>
  import { handleSubmit } from '@/services/handleSubmit';
  import { updatePlaceholder } from '@/services/updatePlaceholder';
  import intlTelInput from 'intl-tel-input';
  const input = document.getElementById('phone') as HTMLInputElement;
  const whats = document.getElementById('whatsapp') as HTMLInputElement;
  const form = document.getElementById('astro-form');

  const itiPhone = intlTelInput(input, {
    utilsScript: 'path/to/utils.js',
    initialCountry: 've',
    strictMode: true,
  });

  const itiWhatsapp = intlTelInput(whats, {
    utilsScript: 'path/to/utils.js',
    initialCountry: 've',
    strictMode: true,
  });

  input.addEventListener('countrychange', () => updatePlaceholder(input, itiPhone));

  whats.addEventListener('countrychange', () => updatePlaceholder(whats, itiWhatsapp));

  window.addEventListener('load', () => updatePlaceholder(input, itiPhone));

  window.addEventListener('load', () => updatePlaceholder(whats, itiWhatsapp));

  if (form) form.addEventListener('submit', (e) => handleSubmit(e, '/api/register'));
</script>

<Layout title='Registra tu apoyo'>
  <LayoutRecatcha>
    <div>
      <a href='/' class='text-gray-500 underline hover:text-gray-700 md:text-lg'>Volver al Inicio</a>
      <p class='m-8 text-center font-extrabold text-gray-900 md:text-2xl'>
        Bienvenido.<br />Gracias a ti, Venezuela es un mejor país
      </p>
    </div>
    <div class='overflow-hidden rounded-sm text-gray-900 md:flex'>
      <div class='border border-gray-500 p-10'>
        <h1 class='text-1xl mb-5 text-center font-extrabold xl:text-2xl'>Formulario de inscripción a Venezuela Help</h1>
        <form id='astro-form' class='flex flex-col gap-4'>
          <div class='flex flex-col gap-1'>
            <label class='select-none font-semibold' for='name'>Nombre Completo</label>
            <Input type='text' name='name' id='name' placeholder='Por defecto: [ANÓNIMO]' />
          </div>
          <div class='flex flex-col gap-1'>
            <label class='select-none font-semibold' for='email'>Email</label>
            <Input
              type='email'
              name='email'
              id='email'
              pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$'
              placeholder='tucorreo@dominio.com'
              required
            />
          </div>
          <div class='flex flex-col gap-1'>
            <label class="select-none font-semibold after:text-custom-red after:content-['*']" for='phone'
              >Número de teléfono</label
            >
            <Input id='phone' type='tel' name='phone' minLength='10' maxLength='15' />
          </div>
          <div class='select-container relative flex flex-col gap-1'>
            <label class='select-none font-semibold'>Estado</label>
            <select
              name='region'
              id='region'
              class='cursor-pointer appearance-none rounded-xl border border-[#C1C1C1] px-4 py-2 capitalize'
            >
              {regions.map((e) => <option value={e}>{e}</option>)}
            </select>
          </div>
          <div class='select-container relative flex flex-col gap-1'>
            <label class='font-semibold'>Servicio</label>
            <select
              name='service'
              id='service'
              class='cursor-pointer appearance-none rounded-xl border border-[#C1C1C1] px-4 py-2 capitalize'
            >
              {services.map((e) => <option value={e}>{e}</option>)}
            </select>
          </div>
          <div class='flex flex-col gap-1'>
            <label class='select-none font-semibold' for='instagram'>Instagram</label>
            <Input type='text' name='instagram' id='instagram' placeholder='Ejemplo: tuusuario.sinarroba' />
          </div>

          <div class='flex flex-col gap-1'>
            <label class='select-none font-semibold' for='telegram'>Telegram</label>
            <Input type='text' name='telegram' id='telegram' placeholder='Ejemplo: tuusuario.sinarroba' />
          </div>

          <div class='flex flex-col gap-1'>
            <label class='select-none font-semibold' for='whatsapp'>WhatsApp</label>
            <Input type='tel' name='whatsapp' id='whatsapp' minLength='10' maxLength='15' />
          </div>
          <div class='flex flex-col gap-1'>
            <label class='select-none font-semibold' for='description'>Descripción</label>
            <textarea
              name='description'
              id='description'
              placeholder='Explica cómo es tu servicio y cómo puedes ayudar.'
              class='border-\[\#C1C1C1\] resize-none rounded-xl border px-4 py-3'></textarea>
          </div>
          <Button
            type='submit'
            class='mt-3 rounded-xl bg-custom-red px-4 py-2 font-semibold text-white hover:bg-custom-red'
          >
            Enviar
          </Button>
        </form>
      </div>
      <img src='/form_image.webp' class='hidden w-1/2 object-cover md:block' />
    </div>
  </LayoutRecatcha>
</Layout>

<style>
  .select-container::after {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    transform: rotate(-180deg);
    right: 0.8rem;
    top: 2.3rem;
    background-image: url('/arrow.svg');
    background-repeat: no-repeat;
    pointer-events: none;
  }
</style>
