---

import {Contact, db} from "astro:db"

const contacts = await db.select().from(Contact);
console.log(contacts)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<h1>holo</h1>
		{contacts.map((element) => (
			<p>{JSON.stringify(element)}</p>
		))}
	</body>
</html>
