---
import "@fontsource/inter"
import "@fontsource/inter/800.css"
import {Contact, db, eq} from "astro:db"
import Filter from "../components/Filter.tsx"

const regions_arr = await db.selectDistinct({region: Contact.region}).from(Contact)
const regions = regions_arr.sort((a, b)=>{
	if (a.region < b.region)
		return -1
	if (a.region > b.region)
		return 1;
	return 0;
})
const reg: string | null = Astro.url.searchParams.get("reg") ?? null
const contacts = reg ? await db.select().from(Contact).where(eq(Contact.region, reg)) : await db.select().from(Contact)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Venezuela Help 2024</title>
	</head>
	<body>
	<div class="max-w-screen-lg m-auto p-[20px] md:p-[60px] overflow-hidden">
		<nav class="flex gap-[40px] font-bold">
			<a href="/">Recursos y asistencia</a>
			<a href="/" class="opacity-50 pointer-events-none cursor-not-allowed">Boletín</a>
		</nav>
		<header class="flex flex-col sm:flex-row items-center w-full justify-between">
			<h1 class="font-bold text-[50px] max-w-[608px] leading-[60px]">Todo lo que necesitas saber sobre tu país. Venezuela.</h1>
			<img src="/vzla.svg"/>
		</header>
		<section class="w-full">
			<h2 class="text-[30px]">
				Encuentra la última informacíon de tu estado.
			</h2>
			<hr class="bg-black h-[0.5px] border-0"/>
			<div class="grid grid-cols-1 gap-y-[25px] py-[30px] mx-[30px] sm:grid-cols-3 md:grid-cols-5">
				<a class={`block uppercase button ${reg === null ? 'selected' : ''}`} href='/'>Todos</a>
				{regions.map(({region}) => (
					<a class={`block uppercase button ${region === reg ? 'selected' : ''}`} href=`?reg=${region.replace(' ', '+')}`>{region}</a>
				))
				}
			</div>
			<hr class="bg-black h-[1px] border-0"/>
		</section>
		<section class="py-[60px]">
			<h2 class="text-center font-bold text-[30px]">{reg ? reg.toUpperCase() : 'NACIONAL'}</h2>
			<Filter client:load elements={contacts} />
		</section>
	</div>
	<footer class="flex flex-col sm:flex-row items-center m-auto w-fit gap-[30px] pb-[60px]">
		<span class="text-[20px]">Hecho con el apoyo de</span>
		<img src="/mlv_logo.png" alt="Movimiento Libertario de Venezuela" class="w-[100px] "/>
	</footer>
	</body>
</html>

<style>
	body {
		color: #080808;
	}
	.selected {
		color: #D00B27;
	}
</style>

