---
import Layout from '@/layouts/Layout.astro';
import { supabase } from '@/lib/supabase';
import Button from '../components/UI/Button.astro';
import MissingCard from '@/components/missing/MissingCard.astro';
import type { Missing } from '../interfaces/missing.interface';

const { data: missingPeople } = await supabase.from('Missing').select('*');
---

<Layout title='Personas Desaparecidas - Venezuela Help 2024'>
  <header class='py-20'>
    <h1 class='text-3xl font-bold mb-5'>Listado de personas desaparecidas en Venezuela</h1>
    <div class='flex gap-5'>
      <Button kind='secondary' href='/found-missing'>He encontrado a alguien </Button>
      <Button href='/report-missing'> He perdido a alguien </Button>
    </div>
  </header>
  <hr />
  <span class='text-xl my-10 block'>Desaparecidos recientes:</span>
  <main class='grid sm:grid-cols-3 gap-5'>
    {missingPeople?.map((e: Missing) => <MissingCard data={e} />)}
  </main>
</Layout>
