---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="h-[50vh] flex items-center justify-center">
        <div>
            <h1 class="font-bold text-4xl text-center">¡Enviado con éxito!</h1>
            <a href="/" class="bg-custom-red text-white font-bold py-2 px-4 rounded-xl mt-3 block text-center w-1/2 m-auto ">Volver</a>
        </div>
    </div>
</Layout>