<header class='flex w-full flex-col items-center justify-between sm:flex-row'>
  <h1 class='max-w-[608px] text-pretty text-5xl font-bold leading-[60px]'>
    Toda la ayuda que necesitas en un solo lugar, Venezuela.
  </h1>
  <div class='relative mt-4 md:mt-0'>
    <img src='/vzla.svg' alt='' />
  </div>
</header>
